.para {
    color: #FF0000;
    font-size: 55px;
}

.para2 {
    color: #00CC00;
    font-size: 33px;
    text-align: left;
}

/*层叠样式 给para一个新的颜色*/
p.para {
    color: #F0F;
}

/*给所有的p居中*/
p {
    text-align: center;
}

/*复合型选择器*/
div#content p {
    font-size: 22px;
}

.para_bg {
    background-color: #555
}